html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    background-image: url(../images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    background-color: black;
    font-family: "Poppins", serif;
    font-weight: 300;
}

ul{
    list-style-type: none;
}

button{
    text-transform: uppercase;
}
.container{
    max-width: 1350px;
    margin: 0 auto;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: #FFF;
}

.header__inner{
    justify-content: space-between;
    display: flex;
    
    align-items: center;
}

.header__inner-logo{
    font-size: 32px;
    color: #FFF;
    font-family: "Orbitron", serif;
    font-style: normal;
}

.header__inner-pages{
    font-size: 14px;
    font-family: "Orbitron", serif;
    font-style: normal;
}

.main_page{
    color: #8A35F2;
}

.inner-page{
    gap: 45px;
    justify-content: space-between;
    display: flex;
    padding-left: 220px;
}

.contact-now{
    background-color: #8A35F2;
    color: #FFF;
    padding: 17px 30px;
    font-family: "Orbitron", serif;
    font-style: normal;
}

.contact-now:hover{
    cursor: pointer;
    background-color: black;
}

  
.footer{
  background-color: #8A35F2;
}

.footer__inner-item{
    padding-top: 60px;
    display: flex;
}

.logo__link-footer{
    font-family: "Orbitron", serif;
    font-style: normal;
    font-size: 32px;
}

.footer__block-text{
    max-width: 333px;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer__inner-2{
    display: block;
}
.footer_link{
    display: grid;
    gap: 12px;
    max-width: 80px;
}

.menu__link-main{
    padding-right:80px ;
    font-weight: 800; 
    font-size: 24px; 
    font-family: "Orbitron", serif;
    font-style: normal;
}

.menu__link{
    font-size: 16px; 
}


.footer__menu{
    padding-left: 80px;
}

.footer__inner-3{
    font-weight: 800;
    font-size: 28px;
}

.input-container {
    position: relative;
    width: 100%;
    color: #FFF;
}
.input-container input {
    background: #FFF;
    color: #FFF;
    width: 100%;
    padding: 21px 168px 21px 18px; 
    border: none;
    font-size: 17px;
    box-sizing: border-box;
    margin-top: 50px;
    text-transform: uppercase;
}
.input-container button {
    position: absolute;
    right: 1px;
    text-transform: uppercase;
    top: 15%;
    transform: translateY(34%);
    background-color: #8A35F2;
    color: #FFF;
    padding: 17px 30px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Orbitron", serif;
    font-style: normal;
    margin-top: 15px;
}
.input-container button:hover {
    background-color: #000;
    color: #FFF;
}


.footer__inner-3{
    padding-bottom: 50px;
}

.footer__menu-5{
    padding-left: 50px;
}

.footer__diskription{
    padding-bottom: 12px;
    font-size: 16px;
    font-family: "Orbitron", serif;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.quick-line{
    border-top: 2px solid #FFF; 
    margin: 15px 0 25px 0; 
    width: 50px;  
}


.line {
    border-top: 1px solid #FFF; 
    margin: 80px 0 12px 0; 
    width: 100%;
}
.backgroun_social{
    background-color: #FFF;
    padding: 18px 10px 9px 15px;
    margin-right: 25px;
}

.newsletter__block-text{
    max-width:358px ;
}
.bold{
    font-weight: bold;  
}













/*home*/

.empowering__inner{
    display: flex;
}

.title_text{
    max-width: 615px;
    font-size: 62px;
    padding-top: 205px;
}


.basic_text{
    max-width: 615px;
    padding-top: 15px;
    padding-bottom: 25px;
}


.empowering_image__inner-section{
    padding-top: 128px;
    padding-left: 90px;
    display: flex;
    position: relative;
    height: 550px;
}

.our_solution{
    font-family: "Orbitron", serif;
    font-style: normal;
    margin-top: 360px;
    margin-left: -199px;
}

.image-solution{
    padding-top: 25px;
    padding-bottom: 8px;
}


.our_solution-name{
    font-size: 18px;
}

.our_solution-title{
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 6px;
    padding-top: 6px;
}

.our_solution-text{
    padding-bottom: 20px;
    font-weight: 100;
    font-family: "Poppins", serif;
}

.background{
    background-color: rgb(255 255 255 / 20%);
    backdrop-filter: blur(5px);
    max-width: 350px;
    max-height: 300px;
    padding-left: 25px;
}

.read-more{
    margin-bottom: 20px;
}

.quickest-section{
    background-image: url(../images/home/background-sec.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1820px;
    margin: 0 auto;
    margin-top: 134px;
}

.quickest_title{
    padding-top: 200px;
    text-align: center;
    font-size: 52px;
    font-family: "Orbitron", serif;
    padding-bottom: 10px;
    max-width: 1216px;
}

.quickest_text{
    padding-bottom: 45px;
    font-weight: 200;
    max-width: 864px;
}

.quickest-now{
    margin-bottom: 220px;
}


.quickest__inner{
    justify-items: center;
}

.benefits_title{
    font-size: 42px;
    font-family: "Orbitron", serif;
}

.benefits_text{
    max-width: 638px;
    text-align: center;
    padding-top: 10px;
}

.benefits__inner-image{
    padding-top: 209px;
    justify-items: center;
}

.mini-robot__2{
    padding-bottom: 12px;
    font-size: 16px;
    font-family: "Orbitron", serif;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.benefits_galery{
    display: flex;
    align-items: end;
    padding-top: 50px;
    gap: 30px;
}

.benefits_galery-disk{
    margin-top: -62px;
    margin-left: 15px;
    padding-bottom: 100px;
    font-size: 20px;
}

.view-more{
    justify-items: center;
}


.strategy__inner-image{
    display: flex;
    padding-top: 100px;
    padding-bottom: 15px;
}

.strategy__disk{
    padding-top: 60px;
    padding-left: 40px;
}

.strategy_title{
    font-size: 42px;
    font-family: "Orbitron", serif;
    padding-bottom: 10px;
}

.strategy_text{
    padding-bottom: 6px;
    font-weight: 200;
}


.provide_galery{
    display: flex;
    padding-top: 50px;
    gap: 30px;
}

.system_galery-img{
    margin-top: -156px;
    margin-left: 30px;
    padding-bottom: 113px;
}

.system_galery-disk{
    margin-top: -85px;
    margin-left: 30px;
    padding-bottom: 100px;
    font-size: 24px;
    font-family: "Orbitron", serif;
    max-width: 200px;
}

.system_galery-img2{
    margin-top: -308px;
    margin-left: 30px;
    padding-bottom: 260px;
}
.predictive_galery-disk{
    margin-top: -248px;
    margin-left: 30px;
    padding-bottom: 301px;
    font-size: 24px;
    font-family: "Orbitron", serif;
    max-width: 200px;
}
.predictives_galery-text{
    margin-top: -276px;
    margin-left: 30px;
    padding-bottom: 47px;
    max-width: 248px;
}
.read-predictive{
    margin-top: -85px;
    margin-left: 30px;
}

.system_galery-img3, .system_galery-img4{
    margin-top: -276px;
    margin-left: 30px;
    padding-bottom: 105px;
}

.furture_today{
    font-family: "Orbitron", serif;
    font-size: 20px;
}

.left-future, .right-future{
    display: flex; 
    position: relative;
}

.quality-service{
    margin-top: -675px;
    margin-left: 60px;
    column-count: 2;
}

.future_title{
    text-align: end;
    width: 174px;
}

.future_img{
    margin-left: 27px;
}

.skills-services{
    margin-top: -489px;
    margin-left: -451px;
    column-count: 2; 
}

.excellent-support{
    margin-top: -304px;
    margin-left: -330px;
    column-count: 2; 
}

.future3_title{
    text-align: end;
    width: 217px;
}

.benefits__inner-image-1{
    justify-items: center;
}

.team-members{
    margin-top: -675px;
    padding-left: 905px;
    column-count: 2;
}

.for-clients{
    margin-top: -489px;
    margin-left: -218px;
    column-count: 2; 
}

.quality-management{
    margin-top: -304px;
    margin-left: -375px;
    column-count: 2; 
}

.right_title{
     width: 200px;
     margin-left: -60px;
}
.Quality_title{
    width: 239px;
    margin-left: -80px;
}

.section-rew{
    padding-top: 20px;
}

.review__inner__items{
    column-count: 3;
    column-gap: 30px;
}

.profile__first-layer{
    column-count: 2;
}

.profile-review{
    font-weight: 300;
    color: #FFF;
    max-width: 340px;
    text-align: justify;
    padding-right: 45px;
}

.profile-img{
    padding-top: 45px;
}
.review_title{
    padding-bottom: 50px;
    max-width: 570px;
    padding-top: 10px;
    font-weight: 100;
}
.profile-name{
    max-width: 101px;
    padding-top: 70px;
    margin-left: -60px;
    padding-bottom: 40px;
    font-size: 20px;
    font-family: "Orbitron", serif;
}

.profile-raiting{
    padding-top: 25px;
    padding-bottom: 45px;
}

.stars-raiting{
    padding-bottom: 45px;
}

.review{
    padding-left: 45px;
    padding-bottom: 45px;
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(5px);
    max-width: 350px;
    max-height: 300px;
}

.system_galery-disk-title{
    margin-top: -90px;
    margin-left: 40px;
    padding-bottom: 100px;
    font-size: 20px;
    font-family: "Orbitron", serif;
    max-width: 50px;
    text-align: center;
}

.system_galery-disky-text{
    margin-top: -140px;
    margin-left: 130px;
    padding-bottom: 100px;
    font-size: 24px;
    font-family: "Orbitron", serif;
    max-width: 500px;
}
.view-more-end{
    margin-bottom: 120px;
}





/*about*/

.about__inner{
    font-size: 42px;
    font-family: "Orbitron", serif;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;

}

.hand{
    position: absolute;
    right: 1px;
    top: 20%;
    font-style: normal;
}




.strategy__inner-image {
    display: flex;
    padding-top: 100px;
    padding-bottom: 15px;
}
.strategy__disk {
    padding-top: 60px;
    padding-left: 40px;
}
.mini-robot__1-about{
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
}
.strategy_title {
    font-size: 42px;
    font-family: "Orbitron", serif;
    padding-bottom: 10px;
}
.strategy_text {
    padding-bottom: 6px;
    font-weight: 200;
}

.choose_title{
    font-size: 20px;
    font-family: "Orbitron", serif;
    padding-top: 16px;
    text-align: center;
    padding-bottom: 67px;
}

.choose_title_number{
    font-size: 36px;
    font-family: "Orbitron", serif;
    color: #8A35F2;
    padding-top: 16px; 
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.choose__trusted-img{
    padding-top: 57px;
    padding-left: 118px;
    padding-right: 118px;
} 

.choose__trusted-partners{
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(5px);
    max-width: 350px;
    max-height: 300px;
}

.choose__inner-info{
    display: flex; 
    position: relative;
    column-gap: 30px;
    max-width: 600px;
}

.choose_text{
    display: flex; 
    position: relative;
    column-gap: 30px;
    max-width: 600px;
    padding-bottom: 40px;
}
.choose__info-container{
    text-align: center;
    display: flex;
    justify-content: center;
}

.img-rob{
    display: flex; 
    padding-top: 100px;
    justify-content: center;
}

.deliver_tittle{
    padding-top: 100px;
    font-size: 42px;
    font-family: "Orbitron", serif;
    padding-bottom: 10px;
    max-width: 877px;  
}
.deliver_tittle_2{
    font-size: 42px;
    font-family: "Orbitron", serif;
    padding-bottom: 10px;
    max-width: 877px; 
}

.deliver_text{
    padding-bottom: 45px;
    font-weight: 200;
    max-width: 808px;
}

.deliver-section{
    background-image: url(../images/about/deliver_back.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1820px;
    margin: 0 auto;
    margin-top: 134px;
}

.deliver__inner_section{
    display: flex; 
    position: relative;  
}
.deliver__robot{
    position: absolute;
    top: -50px;
    left: 900px;
}



.empowering__inner{
    display: flex; 
    position: relative;
    gap: 60px;
    padding-top: 180px; 
    padding-bottom: 100px; 
}

.empowering__inner-section{
    padding-top: 81px;
}

.empowering_tittle{
    font-size: 42px;
    font-family: "Orbitron", serif;
    padding-bottom: 10px;
    max-width: 877px; 
}

.empowering_text{
    padding-bottom: 45px;
    font-weight: 200;
    max-width: 584px;
    line-height: 1.2;
}

.empowering_keep_tittle{
    font-size: 20px;
    font-family: "Orbitron", serif;
    padding-bottom: 5px;
    padding-top: 18px;
}

.smart_solutions{
    padding-bottom: 30px;
}

.certified_expert, .smart_solutions{
    display: flex; 
    position: relative;
    gap: 20px;
}
















/* Services */


.services__sections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.first_selection{
    background-image: url(../images/services/first_selection.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 430px;
    padding-left: 20px;
    padding-top: 275px;
}

.services__title-text{
    max-width: 263px;
    font-family: "Orbitron", serif;
    font-style: normal;
    font-size: 28px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.services__title-text .bold {
    display: block; 
}


.second_selection{
    background-image: url(../images/services/second_selection.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 430px;
    padding-left: 20px;
    padding-top: 150px;
}

.services__subtitle-text{
    max-width: 370px;
    padding-bottom: 20px;
}

.third_selection{
    background-image: url(../images/services/third_selection.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 430px;
}
.fourth_selection{
    background-image: url(../images/services/fourth_selection.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 430px;
}
.fifth_selection{
    background-image: url(../images/services/fifth_selection.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 430px;
}
.sixth_selection{
    background-image: url(../images/services/sixth_selection.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 430px;
    margin-bottom: 120px;
}
